html, body {
  padding: 0;
  margin: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  color: #d6d5d4;
}

h1, h2 {
  margin: 0;
}

body {
  font-family: sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#input-section, #output-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.CodeMirror {
  flex-grow: 1;
  line-height: 20px;
  border: 1px solid #343434;
  border-radius: 6px;
}

#output {
  line-height: 20px;
  flex-grow: 1;
  min-height: 200px;
  border: 1px solid #343434;
  border-radius: 6px;
  font-family: monospace;
  white-space: pre-wrap;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: #141414;
}

@media (min-width: 800px) {
  html, body {
    height: 100%;
  }
  main {
    flex-direction: row;
  }
  main > *:not(:first-child) {
    margin-left: 10px;
  }
  #features {
    flex-wrap: wrap;
  }
}
